@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 100%;
    display: flex;
}


/* aside */
.aside {
    /* position: relative; */
    width: 200px;
    border-right: 1px solid #999;
}

.logo {
    position: absolute;
    top: 20px;
    left: 0;
}

.gnb {
    margin-top: 120px;
    background-color: rgba(240,240,240,0.8);
    position: absolute;
    top: 0;
    left: 10px;
    width: 180px;
    z-index: 100;
    overflow: hidden;
    transition: all 0.3s;
}

.gnb >li {
    position: relative;
}

.gnb >li >a {
    display: block;
    padding: 12px;
    border: 1px solid #666;
    /* margin-top: -1px; */
    width: 180px;
    background-color: #fff;
}


.gnb >li:hover >a {
    background-color: chartreuse;
}


.gnb ul {
    position: absolute;
    top: 0;
    left: 180px;
    display: flex;
    /* display: none; */
}
.gnb ul li {}
.gnb ul li a {
    display: block;
    width: 180px;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

.gnb ul li:hover a {
    background-color: lightgreen;
}


/* main */
.main {
    width: calc(100% - 200px);
}


/* slider */
.slider {
    height: 400px;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 400px;
}

.slide a {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    display: block;
    display: none;
}

.slide a .txt {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.txt h2 {
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

.slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* links */
.links {
    height: 150px;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #fff;
    padding: 10px 30px;
    border-bottom: 1px solid #666;
}

.links img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.links li p {
    padding-top: 10px;
}

.links li:hover p {
    color: tomato;
}

.links li:hover img {
    filter: brightness(80%);
}


/* contents */
.contents {
    height: 250px;
    padding: 10px 30px;
    display: flex;
    gap: 50px;
}

.contents div {
    flex: 1;
    width: 400px;
}

.contents div h3 {
    display: block;
    width: 30%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid #999;
    border-bottom: none;
    text-align: center;
}

.contents ul {
    border-top: 1px solid #999;
}

.notice ul li {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #999;
    width: 100%;
}

.notice ul li:last-child {
    border-bottom: none;
}

.notice ul li a {
    flex: 6;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}
.notice li:hover a {
    text-decoration: underline;
}

.notice li span {
    flex: 2;
}

.gallery ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.gallery ul li {
    height: 150px;
    padding: 10px;
}

.gallery ul li a p {
    text-align: center;
    margin: 6px 0;
}

.gallery ul li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* footer */
.footer {
    height: 120px;
    display: flex;
    background-color: #eee;
    align-items: center;
    padding: 0 30px;
}

.info {
    margin-left: 200px;
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
}

.f_menu {
    display: flex;
    padding: 6px 0;
}

.f_menu li {
    position: relative;
}

.f_menu li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #999;
}

.f_menu li:last-child:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
}

.f_menu li a {
    padding: 10px;
    color: lightskyblue;
    text-decoration: underline;
}

.f_menu li:hover a {
    font-weight: bold;
}

.copyright {
    flex: 4;
    padding: 0 10px;
}

.site {}
.site li {}
.site li a {
    display: block;
    margin-right: 50px;
}

.site li a:hover {
    text-decoration: underline;
}


/* modal */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    border: 1px solid #333333;
    height: 450px;
    width: 400px;
    padding: 30px;
}

.modal h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

.modal p {
    line-height: 1.7;
}

.close {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: aquamarine;
    padding: 8px 16px;
    cursor: pointer;
}