@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #333333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    width: 100%;
    display: flex;
}

/* side */
.side {
    width: 200px;
}

.logo {
    width: 200px;
}

.gnb {
    margin: 0 10px;
    
}
.gnb > li {
    border: 1px solid #999;

}
.gnb > li > a {
    display: block;
    padding: 10px 16px;
}

.gnb > li:hover > a {
    background-color: lightskyblue;
}

.gnb ul {
    display: none;
}
.gnb ul li {}
.gnb ul li a {
    display: block;
    padding: 10px 16px;
    border-top: 1px solid #999;
}

.gnb ul li:hover a {
    background-color: lightcyan;
}



/* main */
.main {
    width: calc(100% - 200px);
}

.top {
    display: flex;
    height: 400px;
    position: relative;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 230px);
    /* overflow: hidden; */
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    height: 400px;
    width: 100%;
    display: flex;
}

.slide a {
    display: block;
}

.slide a img {
    display: block;
    width: 800px;
    height: 400px;
    object-fit: cover;
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    width: 230px;
    padding: 16px;
    cursor: pointer;
    /* display: none; */
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner h2 {
    font-size: 14px;
    margin: 4px 0;
}

.banner p {
    font-size: 10px;
    margin-bottom: 40px;
}

.arr {
    position: relative;
}

.arr img {
    position: absolute;
    top: 0;
    right: 24px;
    display: block;
    width: 16%;
}



/* contents */
.contents {
    height: 250px;
    width: calc(100% - 200px);
    display: flex;
    padding: 10px;
    border-top: 1px solid #999;
    gap: 50px;
}

.contents div h3 {
    height: 50px;
    line-height: 50px;
    width: 30%;
    display: block;
    text-align: center;
    border: 1px solid #999;
}

.notice {
    flex: 1;
}

.notice ul {
    border-top: 1px solid #999;
    padding: 10px;
}

.notice ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #999;
}

.notice ul li:hover a {
    text-decoration: underline;
}


.gallery {
    flex: 1;
}
.contents img {
    display: none;
}



/* footer */
.footer {
    height: 100px;
    background-color: #eee;
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 30px;
    justify-content: space-between;
}

.copyright {
    display: block;
}

.site a {
    margin: 0 30px;
}

.site a:hover {
    text-decoration: underline;
}



/* modal */
.modal {
    display: none;
}